<div class="card" [ngClass]="{'selected': selected}">
    <div class="image-container" [ngSwitch]="image.type">
        <!-- ---------------------------- TYPE : IMAGE ----------------------------- -->
        <img *ngSwitchCase="'image'" [src]="apiUrl + image.href" [ngClass]="{
            'fit-height': image.dimensions!.ratio <= (16/9),
            'fit-width': image.dimensions!.ratio > (16/9)
        }"
        draggable="false">

        <!-- ---------------------------- TYPE : VIDEO ----------------------------- -->
        <img *ngSwitchCase="'video'" src="assets/icons/video-file.png" draggable="false">

        <!-- ---------------------------- TYPE : AUDIO ----------------------------- -->
        <img *ngSwitchCase="'audio'" src="assets/icons/audio-file.png" draggable="false">
    </div>

    <textarea class="filename" rows="3"
        [ngClass]="{'editing': editing}"
        [(ngModel)]="name"
        [readOnly]="!editing"
        (focusout)="editDone()"
        (keydown.enter)="editDone()"
    >
    </textarea>
</div>
