<div class="page">
    <div class="roles">
        <button class="master" [ngClass]="{'hide': hover == 'fool'}" (click)="chooseMaster()"
            (mouseenter)="mouseEnter(role.Master)" (mouseleave)="mouseLeave()">
            <span class="text">Maitre</span>
        </button>

        <button class="fool" [ngClass]="{'hide': hover == 'master'}" (click)="chooseFool()"
            (mouseenter)="mouseEnter(role.Fool)" (mouseleave)="mouseLeave()">
            <span class="text">Piégé</span>
        </button>
    </div>

    <div class="hiden-section">
        <button (click)="assetsService.downloadScript(scripts.Wallpaper)">
            <img src="assets/icons/download-exe.png">
        </button>
        <button (click)="assetsService.downloadScript(scripts.Volume)">
            <img src="assets/icons/download-exe.png">
        </button>
    </div>
</div>
