<div class="page">

    <div class="form">
        <app-code-input #codeInput
            [inputType]="'number'"
            [codeLength]="codeLength"
            (codeChanged)="onCodeChanged($event)"
            (enterPressed)="onEnterPressed()"
            [disabled]="loading"
        >
        </app-code-input>

        <button class="enter-button" (click)="validate()" [disabled]="loading || disabled">
            <div class="icon"></div>
        </button>

    </div>

    <button class="admin-access-button" (click)="tryAdminAccess()"></button>

</div>
