$handle-size: 5px;

.active-area {
    width: 100%;
    height: 100%;
}

.resize-handle-container {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: rgba(122, 206, 255, 0.15);
  border: 2px dashed rgba(122, 206, 255, 0.25);
  box-sizing: border-box;

  transition-property: background-color, border;
  transition-duration: .75s;
  transition-delay: .75s;
  transition-timing-function: ease-out;
}

.resize-handle-container.hover {
  background-color: rgba(122, 206, 255, 0.35);
  border: 2px dashed rgba(122, 206, 255, 0.8);

  transition-property: background-color, border;
  transition-duration: .1s;
  transition-delay: 0s;
}

.drag-handle {
  width: 100%;
  height: 100%;

  cursor: move;
}

.resize-handle-bottom {
  position: absolute;
  height: $handle-size;
  width: 100%;

  cursor: row-resize;
  z-index: 1;

  bottom: 0;
}

.resize-handle-right {
  position: absolute;
  width: $handle-size;
  height: 100%;

  cursor: col-resize;
  z-index: 2;

  right: 0;
}

.resize-handle-corner {
  position: absolute;
  width: $handle-size;
  height: $handle-size;

  cursor: nwse-resize;
  z-index: 3;

  bottom: 0;
  right: 0;
}

app-hitbox-settings {
  position: absolute;
  left: 0;
}

.pos-top {
  top: -8px;
  transform: translate(0, -100%);
}

.pos-bottom {
  bottom: -8px;
  transform: translate(0, 100%);
}
