<div class="soundboard">
  <div class="content">
    <div class="sidebar">
      <div class="title" [ngClass]="{'disabled': disabled}">
        Soundboard
      </div>
      <div class="options">
        <div class="volume">
          <img class="speaker-icon" [ngClass]="{'disabled': disabled}"
               src="assets/icons/speaker.png">
          <mat-slider min="1" max="100" color="primary" thumbLabel
                      [(ngModel)]="volume"
                      [disabled]="disabled">
          </mat-slider>
        </div>

        <button class="stop" (click)="stopAll()" [disabled]="disabled">STOP</button>
      </div>
    </div>
    <div class="buttons">
      <app-soundboard-button *ngFor="let track of assetsService.getFlattenSounds()"
                             [track]="track"
                             [target]="target"
                             [volume]="volume"
                             [disabled]="disabled">
      </app-soundboard-button>
    </div>
  </div>
</div>
