@use '@angular/material' as mat;
@include mat.core();
@include mat.strong-focus-indicators();

$primary: mat.define-palette(mat.$gray-palette, 200);
$accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$windows-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

$dark-linear-gradient: linear-gradient(145deg, rgb(1, 2, 24), rgb(0, 0, 17));
$light-linear-gradient: linear-gradient(145deg, rgb(49, 49, 89), rgb(30, 33, 83));

@include mat.all-component-themes($windows-theme);
@include mat.strong-focus-indicators-theme($windows-theme);

:root {
  --cursor-style: default;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  @extend %prevent-select;

  background-color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

%prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.overwrite-cursor {
  cursor: var(--cursor-style) !important;
}
