// What is the difference between unix socket and websocket

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'src/assets/styles/material-override.scss';
@import 'src/assets/styles/breakpoints.scss';
@import 'src/assets/styles/snackbar.scss';
@import 'src/assets/styles/cursor.scss';
@import 'src/assets/styles/fonts.scss';
@import 'src/assets/styles/theme.scss';
@import 'src/assets/styles/utils.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    background: $dark-gradient;
    @extend %font-base;
}

button {
    @extend %font-base;
}

%font-base {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 0.05rem;
    line-height: 1rem;
}

%page {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

%reset-style {
    background-color: transparent;
    border: none;
    outline: none;

    margin: 0;
    padding: 0;
}

%dashboard-page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}