@import "~src/styles.scss";

:host {
    flex: 1 1;
}

button {
    padding: 0.25rem 0.65rem;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.12s ease-in-out;

    span {
        color: white;
        font-family: Roboto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 1px;
        line-height: 1.75rem;
    }

    &:hover {
        $color: rgb(201, 201, 201);
        border: 2px solid $color;
        color: $color;
    }

    &:active {
        $color: rgb(169, 169, 169);
        border: 2px solid $color;
        color: $color;
    }

    &:disabled {
        $color: rgb(146, 146, 146);
        cursor: not-allowed;
        border: 2px solid $color;
        color: $color;
    }
}
