<div class="card" [ngClass]="{'selected': selected}">
    <div class="image-container">
        <img [src]="apiUrl + image.url" [ngClass]="{
            'fit-height': image.dimensions!.ratio <= (16/9),
            'fit-width': image.dimensions!.ratio > (16/9)
          }" draggable="false">
    </div>

    <textarea class="filename" rows="3"
        [ngClass]="{'editing': editing}"
        [(ngModel)]="name"
        [readOnly]="!editing"
        (focusout)="editDone()"
        (keydown.enter)="editDone()"
    >
    </textarea>
</div>
