<div class="page">
    <div class="landing-page {{ fool.running ? 'closed' : ''}}">
        <hlm-spinner *ngIf="loading" size="xl"></hlm-spinner>

        <div class="landing-page-content" *ngIf="!loading">
            <button class="session-code-button" [cdkCopyToClipboard]="sessionCode" (click)="copiedCodeToClipboard()">
                <h1 class="session-code">{{ sessionCode }}</h1>
            </button>

            <a [href]="masterUrl" target="_blank">
                <qrcode *ngIf="sessionCode"
                    [qrdata]="masterUrl"
                    [width]="200"
                    [margin]="3"
                    [errorCorrectionLevel]="'M'"
                ></qrcode>
            </a>

            <app-fool-landing-page-toolbar></app-fool-landing-page-toolbar>

        </div>
    </div>

    <div class="fool-app-page" *ngIf="fool.running">
        <div class="hitboxes overwrite-cursor" *ngIf="fool.layout">
            <app-hitbox *ngFor="let hitbox of fool.layout.hitboxes" [hitbox]="hitbox"></app-hitbox>
        </div>
        <app-desktop [backgroundImage]="backgroundImage"></app-desktop>
    </div>
</div>