<div class="header" *ngIf="canImport">
    <button [ngClass]="{'selected': selectedMenu == 'resources'}"
        (click)="menu('resources')"
    >
        <img src="assets/icons/medias-400.svg"/>
        <span>Resources</span>
    </button>

    <hr>

    <button [ngClass]="{'selected': selectedMenu == 'import'}"
        (click)="menu('import')"
    >
        <img src="assets/icons/download-400.svg"/>
        <span>Import</span>
    </button>
</div>

<hr class="separator" *ngIf="canImport">

<div class="gallery" *ngIf="selectedMenu == 'resources'">
    <div class="no-content-label" *ngIf="!resourceService.getResources(type)!.length">No resources</div>
    <app-file-card *ngFor="let file of resourceService.getResources(type)"
        (click)="select(file, $event)"
        (dblclick)="validate(file, $event)"
        [file]="file"
        [selected]="selectionService.getSelection().includes(file)"
    ></app-file-card>
</div>

<div class="import" *ngIf="selectedMenu == 'import'">
    <div class="drop" *ngIf="!importedFile">
        <img src="assets/icons/download-200.svg">
        <span>Drag files here</span>
        <input class="file-input" type="file" name="files" #fileInput
            (change)="fileChanged($event)"
            [accept]="allowedExtensions"
        />
    </div>

    <div class="replace" *ngIf="importedFile">
        <img class="preview" [src]="importedFile.href">
        <button (click)="resetImport()">
            <img src="assets/icons/restart-400.svg">
            <span>Choose another file</span>
        </button>
    </div>
</div>

<div class="buttons">
    <app-button-small (click)="close()">
        Cancel
    </app-button-small>
    <app-button-small (click)="validate()" [disabled]="!canValidate">
        Select
    </app-button-small>
</div>