@import "src/styles.scss";

:host {
    width: 960px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width: $tablet) {
    }
}

.header {
    display: flex;
    gap: 1rem;
    box-sizing: border-box;

    hr {
        margin: 0;
        $color: #dddddd;
        height: 100%;
        border: none;
        background-color: $color;
        color: $color;
        width: 2px;
    }

    button {
        display: flex;
        align-items: center;
        background: transparent;
        gap: 6px;
        font-size: 20px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        filter: brightness(0.75);

        &.selected {
            filter: brightness(1);
        }

        img {
            width: 20px;
            height: 20px;
            filter: invert(1);
        }
    }
}

.separator {
    margin: 0;
    $color: #dddddd;
    width: 100%;
    border: none;
    background-color: $color;
    color: $color;
    height: 2px;
}

.gallery {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    overflow: scroll;
    box-sizing: border-box;
    @extend %hidden-scrollbar;

    .no-content-label {
        @extend %font-base;
        width: 100%;
        padding: 1rem 0;

        text-align: center;
        font-size: 1.5rem;
    }
}

.import {
    width: 100%;
    height: 100%;

    .drop {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        box-sizing: border-box;
        border: 2px dashed white;

        img {
            width: 64px;
            filter: invert(1);
        }

        .file-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            opacity: 0;
        }
    }

    .replace {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        box-sizing: border-box;

        .preview {
            width: 360px;
            height: 360px;
            object-fit: contain;
        }

        button {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            outline: none;
            border: none;
            padding: 3px;
            background: transparent;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 6px;

            img {
                width: 20px;
                filter: invert(1);
            }

            span {
                font-size: 20px;
            }
        }
    }

    span {
        @extend %font-base;
        font-size: 1.1rem;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

app-button-small {
    flex: 0 1;
}