<div class="container" cdkDragBoundary=".draggable-zone" cdkDrag [cdkDragDisabled]="hitbox.active" [ngStyle]="{'width.px': hitbox.size.width}"
  (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" (cdkDragEnded)="dragEnd($event)">
  <div [ngStyle]="{'width.px': hitbox.size.width, 'height.px': hitbox.size.height}">
    <!-- ---------------------------- RESIZE & MOVE ---------------------------- -->
    <div *ngIf="!hitbox.active" class="resize-handle-container" [ngClass]="{'hover': hover}">
      <div class="resize-handle-right" (mousedown)="resizeStart('right')"></div>
      <div class="resize-handle-bottom" (mousedown)="resizeStart('bottom')"></div>
      <div class="resize-handle-corner" (mousedown)="resizeStart('corner')"></div>
      <div class="drag-handle" cdkDragHandle></div>
    </div>
    <!-- ------------------------- BUTTON WHEN ACTIVE -------------------------- -->
    <app-hitbox-core *ngIf="hitbox.active" [hitbox]="hitbox"></app-hitbox-core>
  </div>

  <!-- -------------------------- SETTINGS SECTION --------------------------- -->
  <app-hitbox-settings [class]="'pos-' + settingsPos" *ngIf="!hitbox.active" [hitbox]="hitbox" [triggers]="triggers" [actions]="actions" [(hover)]="hover"></app-hitbox-settings>
</div>
