<div class="page">
  <div class="content">
    <div class="fools-container">
      <div class="fool-card" [ngClass]="{'selected': target && fool.id == target.id}" *ngFor="let fool of fools"
        (click)="selectTarget(fool)">
        <div class="fool-name">{{fool.name}}</div>
        <div class="fool-status">{{fool.status}}</div>
      </div>
      <p *ngIf="!fools.length" class="no-fool">No fool connected</p>
    </div>

    <div class="soundboard">
      <div class="sidebar">
        Soundboard
        <button class="stop" (click)="stopAll()" [disabled]="!fools.length || target == null">STOP</button>
      </div>
      <div class="buttons">
        <button class="sound-button" *ngFor="let track of assetsService.getFlattenSounds()" (click)="soundboard(track)"
          [disabled]="!fools.length || target == null">
          {{normalize(track)}}
        </button>
      </div>
    </div>
  </div>
</div>
