<mat-spinner class="page-loading-spinner" *ngIf="loading"></mat-spinner>

<div class="page" [ngClass]="{
    'loading': loading
}">
    <app-dashboard-navbar
        [selectedItem]="selectedItem"
        (selectedItemEvent)="selectItem($event)"
    ></app-dashboard-navbar>

    <div class="content-container">
        <div class="content">
            <div class="fool-list-container" *ngIf="displayFoolList">
                <app-fool-card
                    *ngFor="let session of sessions"
                    [selected]="target && session.code == target.code"
                    [fool]="session.fool"
                    (click)="clickSession(session)"
                    (contextmenu)="rightClickSession(session, $event)"
                    [rename]="renaming == session"
                    (editedEvent)="renameFool($event, session.fool)"
                >
                </app-fool-card>
                <p class="no-fool" *ngIf="!sessions.length">
                    No fool connected
                </p>
            </div>

            <hr class="separator" *ngIf="displayFoolList"/>

            <div class="app-container" [ngSwitch]="selectedItem.title">
                <app-soundboard *ngSwitchCase="dashboardPage.SOUNDBOARD"
                    [sessions]="sessions"
                    [target]="target"
                    [disabled]="!sessions.length || sessionClosed || target == null"
                >
                </app-soundboard>

                <app-assets-gallery *ngSwitchCase="dashboardPage.RESOURCES"
                    [isAdmin]="isAdmin"
                >
                </app-assets-gallery>

                <app-layout-editor *ngSwitchCase="dashboardPage.LAYOUT"
                    [sessions]="sessions"
                    [target]="target"
                    [disabled]="!sessions.length || sessionClosed || target == null"
                ></app-layout-editor>
            </div>
        </div>
    </div>
</div>

<app-context-menu
    *ngIf="contextMenu.show"
    [ngStyle]="contextMenu.style"
    [items]="contextMenu.items"
    (itemClick)="handleContextMenu($event)">
</app-context-menu>