<div class="left-buttons">
    <button class="toolbar-button fullscreen-button" (click)="windowService.toggleFullscreen()">
        <img [src]="'assets/icons/fullscreen' + (windowService.isFullscreen() ? '-exit' : '') + '-400.svg'">
    </button>

    <button class="toolbar-button notifications" (click)="toggleNotifications()" disabled>
        <img [src]="foolService.notificationsEnabled ?
            'assets/icons/bell-400.svg' : 'assets/icons/bell-off-400.svg'"
        >
    </button>

    <button class="toolbar-button audio {{ audio.canPlay ? '' : 'alert'}}" (click)="toggleAudio()">
        <img [src]="foolService.audioEnabled ?
            'assets/icons/volume-400.svg' : 'assets/icons/volume-off-400.svg'"
        >
    </button>

    <button class="toolbar-button microphone" (click)="toggleMicrophone()">
        <img [src]="foolService.microphoneEnabled ?
            'assets/icons/microphone-400.svg' : 'assets/icons/microphone-off-400.svg'"
        >
    </button>

    <button class="toolbar-button camera" (click)="toggleCamera()">
        <img [src]="foolService.cameraEnabled ?
            'assets/icons/webcam-400.svg' : 'assets/icons/webcam-off-400.svg'"
        >
    </button>
</div>

<div class="right-buttons">
    <button class="toolbar-button" [matMenuTriggerFor]="scripts">
        <img src="assets/icons/code-brackets-400.svg">
    </button>

    <button class="toolbar-button run" (click)="run()">
        <div class="icon"></div>
    </button>
</div>

<mat-menu #scripts="matMenu">
    <button mat-menu-item class="menu-button"
        (click)="assetsService.downloadScript(EnumScript.WALLPAPER)"
    >
        <span>Wallpaper</span>
        <img src="assets/icons/download-400.svg">
    </button>
    <button mat-menu-item class="menu-button"
        (click)="assetsService.downloadScript(EnumScript.VOLUME)"
    >
        <span>Volume</span>
        <img src="assets/icons/download-400.svg">
    </button>
</mat-menu>