@import "src/styles.scss";

.card {
    &:hover {
        background-color: rgb(26, 26, 52);
    }

    &.selected {
        background-color: rgb(50, 50, 82);
    }

    transition: background-color 0.1s ease-in-out;
}

.filename {
    width: 100%;
    overflow-y: scroll;
    @extend %hidden-scrollbar;

    @extend %font-base;
    line-height: 1.35;
    font-size: 14px;
    margin-bottom: .35rem;

    @extend %reset-style;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
    resize: none;

    &.editing {
        border: 2px solid rgba(255, 255, 255, 0.4);
    }

    &:not(.editing) {
        pointer-events: none;
    }
}