@import 'src/styles.scss';

:host {
    @extend %dashboard-page;
    gap: 32px;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

section {
    &.disabled {
        filter: brightness(.5);
    }
    transition: all .15s ease-in-out;
}

.session-infos {
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2.6rem;
    border: 3px solid rgb(49, 49, 89);
    border-radius: 14px;
    box-sizing: border-box;
    @media (max-width: $tablet) {
        height: auto;
    }
    @media (max-width: $mobile) {
        min-width: 280px;
        align-self: center;
    }

    .session-code {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 12px;
        line-height: 1;
        margin: 0;
        margin-left: 12px;
        margin-bottom: 1rem;
        cursor: pointer;
        @media (max-width: $tablet) {
            font-size: 32px;
        }
    }

    .separator {
        flex: 0 0 auto;
        margin: 0;
        $color: #dddddd;
        width: 75%;
        border: none;
        background-color: $color;
        color: $color;
        height: 2px;
    }

    .session-infos-section {
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $tablet) {
            padding: 0;
        }
    }

    .masters-infos {
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            font-weight: 500;
            letter-spacing: 0.05rem;
            font-size: 18px;
        }

        img {
            margin-bottom: 1px;
            width: 24px;
        }
    }

    .status {
        display: flex;
        align-items: center;
        gap: 6px;

        span {
            font-weight: 400;
            letter-spacing: 0.08rem;
            font-size: 15px;
        }

        .icon {
            width: 12px;
            height: 12px;
            border-radius: 50%;

            &.pending {
                background-color: $color-orange-400;
            }

            &.running {
                background-color: $color-green-400;
            }
        }
    }

    .spacer {
        flex: 1 1 auto;
        @media (max-width: $tablet) {
            flex: 0 1 auto;
        }
    }

    .session-button-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        @media (max-width: $tablet) {
            justify-content: space-evenly;
        }
    }

    .run-button, .shutdown-button {
        cursor: pointer;
        outline: none;
        border-width: 3px;
        border-style: solid;
        padding: .5rem .75rem;
        border-radius: 6px;
        box-sizing: border-box;
        background: #313159;
        transition: all .15s ease-in-out;
        @media (max-width: $tablet) {
            padding: .5rem .75rem;
        }

        &:disabled {
            filter: brightness(.5);
            border-color: white;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            filter: brightness(.9);
        }
    }

    .run-button {
        border-color: $color-green-500;
    }

    .shutdown-button {
        border-color: $color-red-500;
    }
}

.fool-infos {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    box-sizing: border-box;
    padding-top: 2rem;
    @media (max-width: $tablet) {
        padding-top: 0;
    }

    .fool-name {
        display: flex;
        align-items: center;
        gap: 16px;

        img {
            width: 60px;
            @media (max-width: $tablet) {
                width: 40px;
            }
            @media (max-width: $mobile) {
                width: 28px;
            }
        }

        h1 {
            width: 100%;
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 1;
            margin: 0;
            margin-left: 2px;
            @media (max-width: $tablet) {
                font-size: 40px;
            }
            @media (max-width: $mobile) {
                font-size: 28px;
            }
        }
    }

    .browser-infos {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .browser-name {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;

            @media (max-width: $tablet) {
                font-size: 14px;
            }
        }

        .permissions-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 12px;
            align-items: center;
        }

        li {
            img {
                filter: invert(1);
                &.disabled {
                    filter: invert(0.6);
                }
            }
        }
    }

}