@import 'src/assets/styles/theme.scss';

.mat-slider-track-background {
    background-color: transparentize(#2e2e53, 0.4);
}

.mat-slider:hover .mat-slider-track-background, .mat-slider.cdk-focused .mat-slider-track-background {
    background-color: transparentize(#2e2e53, 0.4);
}

.mat-slider.mat-slider-disabled .mat-slider-track-background, .mat-slider.mat-slider-disabled .mat-slider-track-fill, .mat-slider.mat-slider-disabled .mat-slider-thumb {
    background-color: transparentize(#2e2e53, 0.4);
}