<div class="layout-editor">
    <div class="content" #content>
        <div class="editor" *ngIf="target" [ngStyle]="{'aspectRatio': target.window.ratio}" #editor>
            <!-- Hitboxes -->
            <div class="draggable-zone">
                <app-hitbox *ngFor="let hitbox of target.layout.hitboxes" [hitbox]="hitbox"></app-hitbox>
            </div>
            <!-- Background Image -->
            <img [src]="(target && target.layout.desktop.image) ? (apiUrl + '/' + target.layout.desktop.image) : defaultDesktopImage" draggable="false">
        </div>

        <div class="no-target" *ngIf="!target">
            Select a fool
        </div>

        <div class="toolbar">
            <app-button-raised (click)="addHitbox()" [disabled]="!target">
                Add hitbox
            </app-button-raised>

            <app-button-raised (click)="changeBackground()" [disabled]="!target">
                Background
            </app-button-raised>

            <app-button-raised (click)="sendConfig()" [disabled]="!target">
                Send
            </app-button-raised>
        </div>
    </div>
</div>
