<div class="layout-editor">
    <div class="content" #content>
        <div #editor class="editor" *ngIf="target" [ngStyle]="{
                'aspectRatio': target.fool.window.ratio
            }" [ngClass]="{
                'disabled': disabled
            }"
        >
            <!-- Hitboxes -->
            <div class="draggable-zone">
                <app-hitbox *ngFor="let hitbox of target.fool.layout.hitboxes"
                    [hitbox]="hitbox"
                    [disabled]="disabled"
                ></app-hitbox>
            </div>
            <!-- Background Image -->
            <img [src]="(target && target.fool.layout.desktop.image) ? (backend.serverUrl + '/' + target.fool.layout.desktop.image) : defaultDesktopImage" draggable="false">
        </div>

        <div class="no-target" *ngIf="!target">
            Select a fool
        </div>

        <div class="toolbar">
            <div class="upper buttons">
                <app-button-raised (click)="addHitbox()" [disabled]="!target || disabled">
                    Add hitbox
                </app-button-raised>

                <app-button-raised (click)="changeBackground()" [disabled]="!target || disabled">
                    Background
                </app-button-raised>
            </div>
            <div class="lower buttons">
                <app-button-raised (click)="sendConfig()" [disabled]="!target || disabled">
                    Send
                </app-button-raised>
            </div>
        </div>
    </div>
</div>
