@import 'src/styles.scss';

.page {
    position: relative;

    @extend %page;
    background: $dark-gradient;
}

.roles {
    display: flex;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.role-button {
    width: 240px;
    padding: 6px;

    border: 0;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    &.master {
        background: linear-gradient(140deg, #d53369, #daae51);
        box-shadow: #d5336966 5px 13px 30px -5px;
    }

    &.fool {
        background-image: linear-gradient(140deg, #f8ff00, #3ad59f);
        box-shadow: #42f49e66 5px 13px 30px -5px;
    }

    color: #FFFFFF;
    font-family: Roboto;
    letter-spacing: 0.07rem;
    font-size: 32px;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
    white-space: nowrap;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: all .15s;

    &.hide {
        $dx: 30%;
        opacity: 0;
        &.master { transform: translate(-$dx, 0); }
        &.fool { transform: translate($dx, 0); }
    }

    &:active,
    &:hover {
        outline: 0;
        transform: scale(1.1);
    }

    span {
        background-color: rgb(5, 6, 45);
        padding: 24px 24px;
        border-radius: 6px;
        width: 100%;
        transition: .2s;
    }

    &:hover span {
        background: none;
    }

    &:active {
        transform: scale(0.96);
    }
}