@import 'src/styles.scss';

$color-a: rgb(186, 66, 255);
$color-b: rgb(0, 255, 255);
$speed: 1.1s;

/** Gradient loader
  * Credits: https://uiverse.io/profile/xXJollyHAKERXx
  */

.spinner {
    background-image: linear-gradient($color-a 35%, $color-b);
    width: 100px;
    height: 100px;
    animation: spinning82341 $speed linear infinite;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px $color-a, 0px 5px 20px 0px $color-b;
}

.spinner-core {
    background: $dark-gradient;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: blur(10px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}
