@import "~src/styles.scss";

$border-radius: 14px;
$border-width: 2px;
$border-gradient: $light-gradient;
$background: #070817;

:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: $tablet) {
        height: 100%;
    }
}

.template {
    position: relative;
    background: $light-gradient;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;

    &.disabled {
        filter: brightness(.5);
    }

    .icon-container {
        position: relative;
        flex-shrink: 0;
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $tablet) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: $mobile) {
            width: 75px;
            height: 75px;
        }

        &:hover:not(.disabled) {
            .icon-menu {
                opacity: 1;
            }
            .placeholder {
                opacity: 0;
            }
        }

        .icon-menu {
            position: absolute;

            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;

            display: flex;
            flex-direction: column;

            opacity: 0;
            background-color: rgba(0, 0, 0, 0.55);
            transition: opacity 0.1s ease-in-out;

            button {
                @extend %font-base;

                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                cursor: pointer;
                border: none;
                outline: none;
                background-color: transparent;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.85);
                }

                img {
                    width: 24px;
                    height: 24px;
                    filter: invert(1);
                }
            }
        }

        .placeholder {
            width: 40px;
            height: 40px;
            transition: opacity 0.1s ease-in-out;

            @media (max-width: $tablet) {
                width: 35px;
                height: 35px;
            }

            @media (max-width: $mobile) {
                width: 30px;
                height: 30px;
            }
        }

        .icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.65rem;

        input, textarea {
            @extend %font-base;
            color: white;
            background-color: transparent;

            border: none;
            outline: none;
            width: 100%;
            resize: none;
        }

        .title,
        .title-input {
            font-size: 28px;
            letter-spacing: 0.08rem;

            @media (max-width: $tablet) {
                font-size: 22px;
            }

            @media (max-width: $mobile) {
                font-size: 20px;
            }
        }

        .message,
        .message-input {
            font-size: 20px;
            letter-spacing: 0;
            height: 100%;

            @media (max-width: $tablet) {
                font-size: 16px;
            }

            @media (max-width: $mobile) {
                font-size: 14px;
            }
        }
    }
}

.control {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    border: 3px solid rgb(49, 49, 89);
    border-radius: 14px;
    box-sizing: border-box;
    padding: 2rem;

    @media (max-width: $tablet) {
        height: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        flex-wrap: wrap;
        gap: 24px;
    }

    @media (max-width: $mobile) {
        gap: 18px;
    }

    &.disabled {
        filter: brightness(.5);
    }

    .settings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: .5rem;

        @media (max-width: $tablet) {
            align-items: center;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0;
        }

        img {
            filter: invert(1);
        }

        app-button-small {
            flex: 0 0;
        }

        .duration {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            transition: all .12s ease-in-out;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;

        @media (max-width: $tablet) {
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
        }

        app-button-small {
            flex: 0 1;
        }
    }
}