@import "~src/styles.scss";

$width: 210px;
$height: 90px;
$border-radius: 14px;
$border-width: 7px;
$border-color: rgb(59, 46, 109);
$background: rgb(31, 31, 97);

.card {
    position: relative;
    width: $width;
    height: $height;
    padding: $border-width;

    border-radius: $border-radius;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $background;

    filter: brightness(0.80);

    &.selected {
        filter: brightness(1);
    }

    &:hover {
        filter: brightness(0.94);
    }

    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: all .15s,
    color 50ms;
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    gap: .5rem;

    padding: 0 24px;

    .name-input {
        @extend %fool-label;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.15rem;

        @extend %reset-style;

        &.editing {
            border: 1px solid rgba(255, 255, 255, 0.4);
            cursor: default;
        }

        &:not(.editing) {
            pointer-events: none;
        }
    }
}

.selection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    box-sizing: border-box;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
}

.shadow {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 110%;
    height: 120%;
    z-index: 10;
    box-shadow: inset -5px -5px 10px 0px #10104166,
                inset -5px -5px 20px 0px #101041AA,
                inset -5px -5px 50px 0px #101041;
}

.browser {
    position: absolute;
    z-index: 1;
    bottom: -40px;
    right: -30px;

    img {
        width: 100px;
        height: 100px;
    }
}

%fool-label {
    color: inherit;
    font-family: Roboto, "Helvetica Neue";
    line-height: 1em;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 0.08rem;
}
