<div class="navbar">
    <div class="header">
        <div class="session-infos" *ngIf="!isAdmin">
            Connected to
            <span>
                {{ ClientService.SESSION_CODE || 14485 }}
            </span>
        </div>
    </div>
    <div class="items">
        <div class="items center">
            <button class="item-button" [routerLink]="'/' + EnumAppRoute.MASTER" [fragment]="EnumNavbarItemTitle.LAYOUT">
                <img [src]="'assets/icons/edit-image.png'">
                <span>
                    {{EnumNavbarItemTitle.LAYOUT}}
                </span>
            </button>

            <button class="item-button" [routerLink]="'/' + EnumAppRoute.MASTER" [fragment]="EnumNavbarItemTitle.SOUNDBOARD">
                <img [src]="'assets/icons/speaker.png'">
                <span>
                    {{EnumNavbarItemTitle.SOUNDBOARD}}
                </span>
            </button>

            <button class="item-button" [routerLink]="'/' + EnumAppRoute.MASTER" [fragment]="EnumNavbarItemTitle.RESOURCES">
                <img [src]="'assets/icons/photo-gallery.png'">
                <span>
                    {{EnumNavbarItemTitle.RESOURCES}}
                </span>
            </button>
        </div>

        <div class="items bottom">
            <button class="item-button" [routerLink]="'/' + EnumAppRoute.MASTER" [fragment]="EnumNavbarItemTitle.SETTINGS">
                <img [src]="'assets/icons/gear.png'">
                <span>
                    {{EnumNavbarItemTitle.SETTINGS}}
                </span>
            </button>

            <button class="item-button" (click)="logout()">
                <img [src]="'assets/icons/logout.png'">
                <span>
                    {{EnumNavbarItemTitle.LOGOUT}}
                </span>
            </button>
        </div>
    </div>
</div>
