@import '~src/styles.scss';

:host {
    @media (max-width: $mobile) {
        width: 100%;
    }
}

.navbar {
    width: 190px;
    @media (max-width: $mobile) {
        width: 100%;
        height: auto;
    }
    height: 100%;
    background: $light-gradient;

    box-shadow: 5px 0px 17px 0px #000000,
        inset 15px 20px 35px 0px rgba(0, 0, 0, 0.07);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    flex: 1 0 auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $mobile) {
        flex-direction: row !important;
    }

    overflow: hidden;
    padding: .3rem 0;

    &.center {
        flex: 1 0 auto;
        justify-content: center;

        @media (max-width: $mobile) {
            justify-content: flex-start;
            width: auto;
        }
    }

    &.bottom {
        flex: 0 1 auto;
        justify-content: flex-end;

        @media (max-width: $mobile) {
            width: auto;
        }
    }
}

.item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;

    background-color: transparent;
    border: none;
    cursor: pointer;

    margin: 0;
    padding: .65rem .9rem;

    &:hover {
        background-color: rgb(255, 255, 255, 0.1);
    }

    &.active {
        background-color: rgb(255, 255, 255, 0.1);
    }

    .item-icon {
        width: 23px;
    }

    .item-title {
        @media (max-width: $mobile) {
            display: none;
        }

        color: white;
        font-family: Roboto;
        font-weight: 500;
        font-size: 19px;
        text-transform: capitalize;
        letter-spacing: 0.08rem;
        line-height: 1.05em;

        margin: 0;
        padding: 0;
    }
}