@import "~src/styles.scss";

$background: #2e2e53;
$hover-background: lighten($background, 5%);

:host {
    flex: 1 1;
}

button {
    @extend %font-base;
    height: 100%;
    max-height: 90px;
    width: 100%;
    min-width: 180px;

    background-color: $background;
    padding: 1rem 2rem;

    cursor: pointer;

    border: 5px solid black;
    border-radius: 0.6em;
    box-shadow: 0.2em 0.2em;
    box-sizing: border-box;

    overflow: hidden;
    transition: all 0.15s ease-in-out, transform 80ms ease-in-out;

    span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
        margin-left: 1px;
        line-height: 1.75rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (max-width: $mobile) {
        padding: .8rem 1.5rem;
        font-size: 15px;
    }

    &:disabled {
        color: darken(white, 30%);
        background-color: darken($background, 10%);
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: $hover-background;
    }

    &:active:not(:disabled) {
        transform: translate(0.1em, 0.1em);
        box-shadow: 0.1em 0.1em;
    }
}
