@import 'src/styles.scss';

$border-gradient: $light-gradient;
$background: #070817;

.soundboard {
    @extend %dashboard-page;
    flex-direction: row;
    gap: 2rem;
    transition: all .15s, color 50ms;

    @media (max-width: $mobile) {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.alert {
    position: absolute;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    background: $light-gradient;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 200px;
    padding: 12px;
    border: 3px solid $color-red-500;
    border-radius: 6px;
    text-align: center;
}

.sidebar {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .title {
        height: auto;

        @extend %font-base;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 0.14rem;
        line-height: 2.6rem;

        margin: 0;
        padding: 0;

        transition: all .12s ease-in-out;
        &.disabled {
            color: darken(white, 30%);
        }

        @media (max-width: $mobile) {
            font-size: 24px;
        }
    }
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 4px 4px 0;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;

    @extend %hidden-scrollbar;
    @media (max-width: $mobile) {
        gap: 1.25rem;
    }
}

.no-content-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .no-content-label {
        margin: 0;
        padding: 0;

        @extend %font-base;
        font-size: 24px;
    }
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    @media (max-width: $mobile) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

    transition: all .12s ease-in-out;

    .speaker-icon {
        width: 1.75rem;
        height: 1.75rem;
        filter: invert(1);
        transition: all .12s ease-in-out;

        &.disabled {
            opacity: .6;
        }
    }
}