<div class="card" [ngClass]="{'selected': selected}">
    <img *ngIf="file.type == EnumResourceType.IMAGE" [src]="backend.serverUrl + '/' + file.href" draggable="false">
    <img *ngIf="file.type == EnumResourceType.VIDEO" src="assets/icons/video-file.png" draggable="false">
    <img *ngIf="file.type == EnumResourceType.AUDIO"src="assets/icons/audio-file.png" draggable="false">

    <textarea class="filename" rows="2"
        [ngClass]="{'editing': editing}"
        [(ngModel)]="name"
        [readOnly]="!editing"
        (focusout)="editDone()"
        (keydown.enter)="editDone()"
    >
    </textarea>
</div>
